# ------------------- RAG_QA_App_Gemini_API_Llama -------------------
RAG_QA_App_Gemini_API_Llama/rag_qa_gimini_llama_venv
RAG_QA_App_Gemini_API_Llama/template.py
RAG_QA_App_Gemini_API_Llama/__pycache__
RAG_QA_App_Gemini_API_Llama/logs
RAG_QA_App_Gemini_API_Llama/.env
RAG_QA_App_Gemini_API_Llama/QAWithPDF/__pycache__

# ------------------- Ecommerce_chatbot_AstraDB_langchain ------------------
Ecommerce_chatbot_AstraDB_langchain/.env
Ecommerce_chatbot_AstraDB_langchain/chatbotenv
Ecommerce_chatbot_AstraDB_langchain/chatbot/__pycache__
Ecommerce_chatbot_AstraDB_langchain/Ecommercebot.egg-info
